body{
    background-color: black;
}



.Gomb{
    background-color: rgb(9, 243, 9);
}

body{
    color: white;
}

body{
    text-align: center;
}

.Gomb{
    width: 350px;
}


.Gomb{
    font-size: large;
}

body{
    font-size: large;
}

